@use 'variaveis' as vars;
@use 'header';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "EB Garamond", serif;
    list-style: none;
    text-decoration: none;
}

.main-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;

    .select-wrapper {
        margin-bottom: 20px;
        text-align: center;

        label {
            margin-right: 10px;
            font-weight: bold;
        }

        select {
            padding: 5px 10px;
            font-size: 16px;
        }
    }

    .page-display {
        display: flex;
        justify-content: center; /* Garante o alinhamento vertical no centro */

        .page {
            display: none; /* Todas as páginas são ocultas inicialmente */
            width: 100%;
            text-align: center; /* Centraliza o conteúdo de texto e imagens */
            flex-direction: column; /* Alinha os elementos em coluna */
            align-items: center;    /* Centraliza os elementos horizontalmente */

            &.active {
                display: block; /* Exibe apenas a página ativa */
            }

            .page-image {
                width: 100%; /* A largura da imagem é 80% do container */
                max-width: 800px; /* Limite máximo de largura */
                margin-bottom: 24px; /* Espaço abaixo da imagem */
                border: 1px solid #ddd;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
            }

            .audio-list {
                width: 80%; /* Largura da lista de áudios igual à da imagem */
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;
                }

                audio {
                    width: 100%; /* Áudio ocupa toda a largura da lista */
                    background-color: #f0f0f0; /* Cor de fundo */
                    border-radius: 8px; /* Arredondar bordas do player */
                    border: 1px solid #ccc; /* Borda do player */
                }
                
            }
        }
    }
}

@media (max-width: 767px) {
    .main-content {
        .page-display {
            .page {
                /* Assegura que a imagem e os áudios ficam empilhados corretamente */
                text-align: center;
                align-items: center;
                justify-content: center;
            }

            .page-image {
                width: 90%; /* Ajusta a largura da imagem para dispositivos móveis */
                max-width: none; /* Remove o limite de tamanho da imagem */
            }

            .audio-list {
                width: 90%; /* Ajusta a largura da lista de áudios no mobile */
            }
        }
    }
}
